@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

/* Osnovni stilovi */

html,
body {
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #000720;
    height: 100%;
}

h1 {
    text-transform: uppercase;
}

h1 strong {
    font-weight: 900;
}

h2 {
    text-transform: uppercase;
    line-height: 20px;
    margin: 0;
}

h3 {
    font-size: 18px;
    font-weight: 900;
}

h4 {
    text-transform: uppercase;
}

h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

p.intro {
    font-size: 16px;
    margin: 12px 0 0;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #FF2929;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #ff2929;
}

.naslov-sekcije hr, .naslov-sekcije .line {
    border-color: #ff2929;
    border-width: 4px;
    width: 60px;
    clear: both;
    text-align: left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

ul,
ol {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}

.btn-crvena {
    background-color: rgba(255, 41, 41, .8);
    color: #ffffff;
    transition: all 300ms;
}

.btn-crvena:hover,
.btn-crvena:focus {
    background-color: rgba(255, 41, 41, 1);
    color: #ffffff;
}


/* Navigacija */

#navigacija {
    padding: 20px;
    transition: all 0.8s;
}

#navigacija.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}

#navigacija a.navbar-brand {
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
    font-weight: 900;
}

#navigacija.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1px;
}

#navigacija.navbar-default .navbar-nav > li > a:hover,
#navigacija.navbar-default .navbar-nav > li > a:focus,
#navigacija.navbar-default .navbar-brand:hover,
#navigacija.navbar-default .navbar-brand:focus {
    color: #ff2929;
}

.on {
    background-color: #ffffff !important;
    padding: 0 !important;
}

#navigacija.on {
    border-bottom: 1px solid #000720;
}

#navigacija.on.navbar-default .navbar-nav > li > a,
#navigacija.on.navbar-default .navbar-brand {
    color: #000720;
    transition: all 300ms;
}

#navigacija.on.navbar-default .navbar-nav > li > a:hover,
#navigacija.on.navbar-default .navbar-nav > li > a:focus,
#navigacija.on.navbar-default .navbar-brand:hover,
#navigacija.on.navbar-default .navbar-brand:focus {
    color: #ff2929;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ff2929 !important;
    background-color: rgba(0, 7, 32, .1);
}

.navbar-toggle {
    border-radius: 0;
    transition: all 300ms;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.on.navbar-default .navbar-toggle .icon-bar {
    background-color: #000720;
}

.on.navbar-default .navbar-toggle:hover .icon-bar,
.on.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

.on.navbar-default .navbar-toggle {
    border-color: #000720;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000720;
    border-color: #000720;
}

.navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #ffffff;
}


/* PoÄetna sekcija */

#pocetna {
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #cfcfcf;
    min-height: 100%;
    height: 100%;
}

#pocetna .overlay {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), color-stop(100%, rgba(0, 0, 0, 0.4)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
    /* IE6-9 */
    height: 100%;
    background-attachment: fixed;
}

#pocetna #logo {
    max-width: 50%;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, .5);
    padding: 20px;
    margin-bottom: 20px;
}

#pocetna p.lead {
    color: #e3e3e3;
}

.sadrzaj {
    position: relative;
    padding: 15% 15% 0;
}

#pocetna h1 {
    font-weight: 900;
}

a.fa.fa-angle-down {
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #b4b4b4;
    border-radius: 50%;
    font-size: 24px;
    margin-top: 75px;
    transition: all 0.5s;
}

a.fa.fa-angle-down:hover {
    background: #ff2929;
    color: #ffffff;
    border: 2px solid #ff2929;
}


/* O nama */

#onama {
    padding: 80px 0;
}

#onama img {
    border: 2px solid #000720;
}

.line, hr, .line hr {
    text-align: left;
}

ul.onama-lista {
    margin: 30px 0 0;
}

ul.onama-lista li {
    display: block;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
}

ul.onama-lista li span {
    margin-right: 10px;
}

#tim {
    background: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
}

#tim .overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	height: auto;
	background-attachment: fixed;
	padding: 80px 0;
}

.naslov-sekcije.center {
    padding: 30px;
}

.naslov-sekcije h2,
.naslov-sekcije.center h2 {
    font-weight: 300;
}

.naslov-sekcije.center .line {
    border-top: 4px solid #ff2929;
    height: 10px;
    width: 60px;
    text-align: center;
    margin: 20px auto 5px;
}

.naslov-sekcije.center hr {
    border-top: 4px solid rgba(255, 41, 41, .4);
	width: 40px;
	text-align: center;
    margin: 10px auto;
}

#tim {
    margin: 0 auto;
}

#tim .row {
    margin: 0;
}

#tim .item {
    padding: 0;
    margin: 15px;
    color: #fff;
    text-align: center;
}

.owl-carousel .owl-item img {
    width: 120px;
    height: 120px;
    transition: all 500ms;
}

#tim .thumbnail {
    background: transparent;
    border: 0;
}

#tim .thumbnail .caption {
    padding: 9px;
    color: #f2f2f2;
}

.slick-prev:before, .slick-next:before {
    font-family: "Glyphicons Halflings", "slick", sans-serif;
    font-size: 30px;
    background-color: #ff2929;
}

.slick-prev {
    width: 35px;
    height: 35px;
    left: 0;
    position: absolute;
    z-index: 30;
}

.slick-next {
    width: 35px;
    height: 35px;
    right: 0;
    position: absolute;
}

.slick-prev:before { content: "\e257"; }
.slick-next:before { content: "\e258"; }

.slick-dots li button:before {
    font-family: "Glyphicons Halflings", "slick", sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.slick-dots li button:before {
    content: "\e165";
}

.slick-dots li.slick-active button:before {
    color: #ffffff;
}

#aktivnosti {
    background: rgb(241, 241, 241);
    color: #000720;
}

#aktivnosti .overlay{
    height: auto;
    background-attachment: fixed;
    padding: 80px 0;
}

#aktivnosti .dogadjaj-overlay {
    display: block;
    position: relative;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .13);
    -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .13);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .13);
    background: #FFFFFF;
    transition: all 200ms ease;
    outline: none;
    margin-bottom: 30px;
}

#aktivnosti .dogadjaj-wrap {
    padding: 5px;
    display: block;
    height: 340px;
}

#aktivnosti .dogadjaj-wrap .dogadjaj-slika {
    height: 165px;
    background-repeat: none;
    background-position: top center;
    background-size: 100%;
    position: relative;
    background-image: url("http://conference.dev.intellex.rs/upload/Event/ListImage/2016-05/obrazovanje_i_edukacija_9~0.jpg");
    transition: all 600ms ease;
}

#aktivnosti .dogadjaj-wrap .dogadjaj-slika span {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 70px;
    height: 64px;
    -webkit-box-shadow: 0 0 0 5px rgba(244,245,249,0.25);
    -moz-box-shadow: 0 0 0 5px rgba(244,245,249,0.25);
    box-shadow: 0 0 0 5px rgba(244,245,249,0.25);
    text-align: center;
    color: #000720;
    padding: 10px 0 0 0;
    background: #FFFFFF;
}

#aktivnosti .dogadjaj-wrap .dogadjaj-slika span strong.period {
    font-size: 1.4em;
    padding-top: 7px;
}

#aktivnosti .dogadjaj-wrap .dogadjaj-slika span em {
    font-size: 0.9em;
    display: block;
}

#aktivnosti .dogadjaj-wrap .dogadjaj-opis {
    text-align: center;
}

#aktivnosti .dogadjaj-wrap .dogadjaj-opis h4 {
    color: #FFFFFF;
    background-color: rgba(0, 7, 32, .9);
    font-weight: 600;
    font-size: 1em;
    display: block;
    padding: 20px 0 0 0;
    text-transform: uppercase;
    min-height: 50px;
    line-height: 1.2;
    transition: all 200ms ease;
}

#aktivnosti .dogadjaj-wrap .dogadjaj-opis p {
    color: #333333;
    font-style: italic;
    line-height: 1.5;
    font-size: 0.857em;
    padding: 0 10px;
}

#aktivnosti .dogadjaj-wrap .dogadjaj-opis span {
    position: absolute;
    bottom: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 0.750em;
}

#aktivnosti .dogadjaj-wrap .dogadjaj-opis span.dogadjaj-lokacija {
    left: 0;
    color: #000720;
}

#aktivnosti .dogadjaj-wrap .dogadjaj-opis span.dogadjaj-kategorija {
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    right: 5px;
    color: #fff;
    padding: 10px;
    font-weight: 600;
    position: absolute;
    background-color: rgba(0, 7, 32, .9);
    transition: all 200ms ease;
}

#aktivnosti .dogadjaj-wrap:hover .dogadjaj-slika {
    background-size: 115%;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-default {
    border: none;
    border-radius: 0;
}

.panel-default>.panel-heading {
    background-color: rgba(0, 7, 32, .9);
    color: #FFFFFF;
}

.panel-heading {
    border-radius: 0;
}

.panel-footer {
    background-color: rgba(0, 7, 32, .9);
    color: #FFFFFF;
    border-radius: 0;
}

#bazaznanja {
    background: rgba(0, 7, 32, .9);
    color: #FFFFFF;
}

#bazaznanja .overlay{
    height: auto;
    background-attachment: fixed;
    padding: 80px 0;
}

#bazaznanja .baza-overlay {
    display: block;
    position: relative;
    -webkit-box-shadow: 0 5px 15px 0 rgba(255, 255, 255, .3);
    -moz-box-shadow: 0 5px 15px 0 rgba(255, 255, 255, .3);
    box-shadow: 0 5px 15px 0 rgba(255, 255, 255, .3);
    background: #FFFFFF;
    transition: all 200ms ease;
    outline: none;
    margin-bottom: 30px;
}

#bazaznanja .baza-wrap {
    padding: 5px;
    display: block;
    height: 270px;
    color: #000720;
    transition: all 300ms;
}

#bazaznanja .baza-wrap .baza-opis h4 {
    color: #FFFFFF;
    background-color: rgba(0, 7, 32, .9);
    font-weight: 600;
    font-size: 1em;
    display: block;
    padding: 20px 0 0 0;
    text-transform: uppercase;
    min-height: 50px;
    line-height: 1.2;
    transition: all 300ms;
}

#bazaznanja .baza-wrap .baza-opis span {
    position: absolute;
    bottom: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 0.750em;
}

#bazaznanja .baza-wrap .baza-opis span.baza-autori {
    width: 100%;
    left: 0;
    bottom: 45px;
    color: #ffffff;
    background-color: rgba(0, 7, 32, .9);
    position: absolute;
}

#bazaznanja .baza-wrap .baza-opis span.baza-vise {
    left: 5px;
    color: #ffffff;
    background-color: rgba(0, 7, 32, .9);
}

#bazaznanja .baza-wrap .baza-opis span.baza-tip {
    right: 5px;
    color: #fff;
    padding: 10px;
    font-weight: 600;
    position: absolute;
    background-color: rgba(0, 7, 32, .9);
    transition: all 200ms ease;
}

#bazaznanja .baza-wrap:hover h4 {
    color: #ff2929;
}